*{
    border: 0%;
    margin: 0%;
}
body{
    background-image: url(uu\ \(2\).webp);
    background-size: cover;
}
nav{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    padding: 10px ;
}
nav h2{
    padding-left: 15px;
    padding-top: 5px;
    font: 50px italic;
}
nav ul{
    list-style: none;
    display: flex;
    padding: 10px;
    gap: 40px;
    font-size: larger;
}
h1{
    text-align: center;
    padding: 50px;
    font-size: 60px;
    text-shadow: 1px 1px 2px rgb(133, 89, 89), 0 0 25px rgb(174, 174, 243), 0 0 5px rgb(27, 27, 198);
}
.images{
    display: grid;
    grid-template-columns: auto auto;
}
